extends layout

block content
  
  .container
    table.bbs.list
      thead
        tr
          th 작성일
          th 작성시각
          th 작성자ID
          th 제목
          th ...
      tbody 
        each bbs in bbsList
          tr(data-id=`${bbs.id}`)
            td= bbs.b_date 
            td= bbs.b_time  
            td= bbs.b_write  
            td= bbs.b_subject  
            td.more
              div.more 더보기
            .glance 
              article.bbs.detail        
                div.label 작성일자
                div.data= bbs.b_date 
                div.label 작성시각
                div.data= bbs.b_time 
                div.label 작성자
                div.data= bbs.b_write
                div.label 제목
                div.data= bbs.b_subject 
                div.label 내용  
                div.data= bbs.b_content
    .bbs.button.box.index
      button.bbs.insert 추가

