extends layout 

block content
    link(rel='stylesheet', href='/css/detail.css')
    script. 
        //- pug변수 bbs._id 데이터를
        //- js에서 사용할 수 있도록 id변수에 할당하기
        const id = `#{bbs._id}`
    script(src="/js/detail.js")
    article.bbs.detail
        .row.Fst
            div.label 작성일자
            div.data= bbs.b_date 
            div.label 작성시각
            div.data= bbs.b_time 
            div.label 작성자
            div.data= bbs.b_write
        .row.Snd                   
            div.data= bbs.b_subject 
        .row.Trd            
            div.data= bbs.b_content 
    .bbs.detail.button.box 
        button.bbs.update(type="button") 수정
        button.bbs.delete(type="button") 삭제
        button.bbs.list(type="button") 목록
   
