extends layout

block content
    form(method="post").manage 
        div.addinput 
            span.plus 거래처ID 
            input.plus(name="c_id" placeholder="거래처 ID" value=`${customers.c_id}`) 
        div.addinput 
            span.plus 거래처명
            input.plus(name="c_name" placeholder="거래처 이름" value=`${customers.c_name}`)
        div.addinput 
            span.plus 전화번호
            input.plus(name="c_tel" placeholder="연락처" value=`${customers.c_tel}`)
        div.addinput 
            span.plus 담당자명
            input.plus(name="c_manager" placeholder="담당자명" value=`${customers.c_manager}`)
        div.addinput 
            span.plus 주소
            input.plus(name="c_addr" placeholder="주소" value=`${customers.c_addr}`)
        div.addinput 
            button(type="submit").modify 수정
            button(type="button").reset 새로작성
            button(type="button").golist 리스트로

